<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<form th:action="@{/admin/add}" method="post">
    <p>Login</p>
    <p><input th:type="text" th:name="login"></p>
    <p>Name</p>
    <p><input th:type="text" th:name="name"></p>
    <p>Password</p>
    <p><input th:type="text" th:name="password"></p>

    <p>
        <select required th:name="access">
            <option>admin</option>
            <option>user</option>
        </select>
    </p>
    <p><input th:type="submit"></p>
</form>
</body>
</html>