<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<form th:action="@{/admin/update}" method="post">
    <p>Login</p>
    <p th:text="${user.login}">Login</p>
    <p>Name</p>
    <p><input th:type="text" th:name="name"></p>
    <p>Password</p>
    <p><input th:type="text" th:name="password"></p>

    <input hidden="hidden" th:type="text" th:name="id" th:value="${user.id}">
    <input hidden="hidden" th:type="text" th:name="login" th:value="${user.login}">
    <p><input th:type="submit"></p>
</form>
</body>
</html>