<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style type="text/css">
        TABLE {
            width: 700px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
            text-align: center;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<h1>Текущие пользователи:</h1>
<table>
    <tr>
        <td>id</td>
        <td>login</td>
        <td>name</td>
        <td>password</td>
        <td>roles</td>
        <td>Эксклюзивные возможности</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.login}">login</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.password}">password</td>
        <td th:each="role : ${user.roles}">
            <p th:text="${role}">role</p>
        </td>
        <td>
            <form th:action="@{/admin/delete/{id}(id = ${user.id})}" method="post">
                <button>Удалить пользователя</button>
            </form>
            <form th:action="@{/admin/update/{id}(id = ${user.id})}" method="get">
                <button>Изменить пользователя:</button>
            </form>
        </td>
    </tr>
</table>
<p><form th:action="@{/admin/add}" method="get">
    <button>Добавить пользователя:</button>
</form></p>
<form th:action="@{/logout}" method="get">
    <button>Выйти</button>
</form>
</body>
</html>