<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).on('click', '#send', function () {
        alert("asdsd");
        let userId = $("#id-input").val();
        let userName = $("#login-input").val();
        let userLogin = $("#name-input").val();
        let userPassword = $("#password-input").val();

        //создание юзера для отправки
        let sendUser = {
            userId: userId,
            name: userName,
            login: userLogin,
            password: userPassword,
            roles: ["user"]
        };

        //put запрос на сервер
        $.ajax({
            url: "/user",
            type: "PUT",
            dataType: "json",
            data: {sendUser}
        })
    });
</script>

<label class="col-3 control-label" for="id-input">ID</label>
<div class="col-9">
    <input type="text" class="form-control" id="id-input" value="userId" th:name="id"/>
</div>
<label class="col-3 control-label" for="login-input">login</label>
<div class="col-9">
    <input type="text" class="form-control" id="login-input" value="userLogin" th:name="login"/>
</div>
<label class="col-3 control-label" for="name-input">name</label>
<div class="col-9">
    <input type="text" class="form-control" id="name-input" value="userName" th:name="name"/>
</div>
<label class="col-3 control-label" for="password-input">password</label>
<div class="col-9">
    <input type="text" class="form-control" id="password-input" value="userPass" th:name="password"/>
</div>

<button type="button" class="btn btn-primary" id="send">Edit user</button>

</body>
</html>